@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #0376c1;
  --primary-color-dark: #002954;
  --text-dark: #12110f;
  --text-light: #6b7280;
  --extra-light: #fbf7f6;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Merriweather", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  font-weight: 600;
  columns: var(--text-dark);
  text-align: center;
}

.section__description {
  font-weight: 500;
  font-family: var(--header-font);
  color: var(--text-light);
  text-align: center;
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}

.logo {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--primary-color);
}

.logo span {
  color: var(--text-dark);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--extra-light);
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--extra-light);
  border-bottom: 1px solid var(--text-light);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--text-dark);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--extra-light);
  border-bottom: 1px solid var(--text-light);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-family: var(--header-font);
  font-weight: 600;
  white-space: nowrap;
  color: var(--text-light);
}

.nav__links a:hover {
  color: var(--primary-color);
}

.header {
  padding-block: 5rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("assets/header.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__container h1 {
  margin-bottom: 1rem;
  font-size: 4rem;
  font-weight: 600;
  color: var(--white);
  line-height: 5rem;
}

.header__container h1 span {
  font-size: 5.5rem;
}

.header__container p {
  margin-bottom: 5rem;
  font-size: 2rem;
  font-family: var(--header-font);
  color: var(--white);
}

.header__container form {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.header__container .input__group {
  flex: 1 1 200px;
  display: flex;
  align-items: center;
  background-color: var(--white);
}

.header__container .input__group span {
  padding: 6px 10px;
  font-size: 1.25rem;
  color: var(--white);
  background-color: var(--text-dark);
}

.header__container input {
  width: 100%;
  padding-inline: 1rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--text-dark);
}

.header__container .btn {
  width: 100%;
}

.feature__container {
  display: grid;
  gap: 1rem;
}

.feature__card {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--white);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}

.feature__card img {
  max-width: 70px;
}

.feature__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text-dark);
}

.feature__card p {
  color: var(--text-light);
  line-height: 1.5rem;
}

.destination {
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.destination::before {
  position: absolute;
  content: "TRAVEL";
  bottom: 0;
  left: 50%;
  transform: translateX(-100%);
  font-size: 20rem;
  font-weight: 900;
  line-height: 14rem;
  letter-spacing: -30px;
  color: var(--text-light);
  opacity: 0.2;
  z-index: -1;
}

.destination__grid {
  margin-top: 4rem;
  display: grid;
  gap: 1rem;
}

.destination__card {
  position: relative;
  isolation: isolate;
}

.destination__content {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0;
  transition: 0.3s;
}

.destination__card:hover .destination__content {
  opacity: 1;
}

.discount {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("assets/discount.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.discount__container {
  text-align: center;
}

.discount__container h2 {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 500;
  font-family: var(--header-font);
  color: var(--white);
}

.discount__container h2 span {
  font-size: 2rem;
}

.package__grid {
  margin-top: 4rem;
  display: grid;
  gap: 1rem;
}

.package__card {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}

.package__card__details {
  padding: 1rem;
}

.package__card__details h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.package__card__details p {
  margin-bottom: 2rem;
  color: var(--text-light);
  line-height: 1.5rem;
}

.package__card__details > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.package__card__details h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  font-family: var(--header-font);
}

.swiper {
  width: 100%;
  padding-block: 4rem;
}

.swiper-slide {
  max-width: calc((var(--max-width) / 3) - 1.5rem);
}

.client__card {
  padding: 2rem 1rem;
  text-align: center;
  background-color: var(--white);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
}

.client__card img {
  max-width: 80px;
  margin-inline: auto;
  margin-bottom: 1rem;
  border-radius: 100%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.client__card span {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--primary-color);
}

.client__card p {
  margin-bottom: 2rem;
  color: var(--text-light);
  line-height: 1.5rem;
}

.client__card h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.client__card h5 {
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--header-font);
  color: var(--text-light);
}

.subscribe {
  padding-block: 5rem;
  background-color: var(--primary-color-dark);
}

.subscribe__container {
  display: grid;
  gap: 2rem;
  text-align: center;
}

.subscribe__container h2 {
  font-size: 2.75rem;
  font-weight: 200;
  font-family: var(--header-font);
  color: var(--white);
}

.subscribe__container p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 200;
  font-family: var(--header-font);
  line-height: 1.75rem;
  color: var(--white);
}

.subscribe__container form {
  width: 100%;
  max-width: 450px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  background-color: var(--white);
}

.subscribe__container input {
  width: 100%;
  padding-inline: 1rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--text-dark);
}

.footer__container {
  display: grid;
  gap: 4rem 2rem;
}

.footer__col p {
  margin-block: 1rem;
  font-family: var(--header-font);
  color: var(--text-light);
  line-height: 1.5rem;
}

.footer__col h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__socials a {
  font-size: 1.25rem;
  color: var(--text-light);
}

.footer__socials a:hover {
  color: var(--primary-color);
}

.footer__links {
  display: grid;
  gap: 1rem;
}

.footer__links a {
  font-family: var(--header-font);
  color: var(--text-light);
}

.footer__links a:hover {
  color: var(--primary-color);
}

.footer__bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
}

@media (width > 540px) {
  .feature__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .destination__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .package__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 768px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    padding: 0;
    background-color: transparent;
    border: none;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    gap: 3rem;
    background-color: transparent;
    transform: none;
    border: none;
  }

  .feature__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .destination__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .package__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .subscribe__container {
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }

  .subscribe__container form {
    margin-inline-start: unset;
  }

  .subscribe__container p {
    max-width: 400px;
  }

  .footer__container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (width > 1024px) {
  .destination__grid {
    gap: 2rem;
  }

  .package__grid {
    gap: 2rem;
  }
}
